@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 16px;
    font-family: "メイリオ", "Hiragino Kaku Gothic Pro", "sans-serif";
    background-color: #999999;
    overflow-x: hidden;
}

p {
    text-indent: 1em;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    font-size: 100%;
    text-align: center;
    color: #dddddd;
    background-color: #313131;
    z-index: 2;
}

#display {
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#controller {
    position: absolute;
    padding: 5px;
    top: 80px;
    left: 20px;
    width: 15%;
    background-color: rgba( 255, 255, 255, 0.8 );
    border: 2px solid #333333;
    z-index: 1;
}

#explain {
    clear: both;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    width: 100%;
    font-size: 100%;
    color: #eeeeee;
    background-color: #666666;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-size: 50%;
    text-align: center;
    color: #dddddd;
    background-color: #313131;
    z-index: 2;
}

.box {
    padding: 0.5em 1em;
    width: 90%;
    border: solid 3px #515151;
    border-radius: 10px;
}
